.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 1.8rem;
    display: inline-block;
    padding: 1.5rem 8rem;
    font-weight: 700;
    background-color: $color-primary;
    color: white;
    border-radius: 100rem;
    border-bottom: 3px solid darken($color-primary, 5%);
    box-shadow: 0 1rem 2rem rgba($color-dark, 0.3);
    transition: all 0.2s;
    @include respond(tab-land) {
      padding: 1.5rem 3rem;
    }
  }
  &:hover {
    transform: translateY(-1px);
  }
  @include respond(tab-land) {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &--blue {
    &,
    &:link,
    &:visited {
      background-color: $color-secondary;
      border-bottom: 3px solid darken($color-secondary, 5%);
    }
  }
}
