.footer {
  background-color: $color-gray-light;
  padding: 5rem;
  @include respond(tab-land) {
    margin-bottom: 0;
    padding: 5rem 5rem 0 5rem;
  }

  &__icon {
    width: 20%;
    margin-bottom: 5rem;
    @include respond(tab-land) {
      width: 7rem;
      float: left;
      margin-bottom: 0;
    }
  }
  &__nav-list {
    font-size: 1.8rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 5rem;

    @include respond(tab-land) {
      margin-left: 18rem;
      width: 60%;
      text-align: left;
    }
  }
  &__nav-item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    @include respond(tab-land) {
      display: inline-block;
      width: 12rem;
      &:not(:last-child) {
        margin-right: 5rem;
      }
    }
  }
  &__nav-link {
    text-decoration: none;
    color: $color-dark;
    &:hover {
      color: $color-primary;
    }
  }
  &__social-link {
    text-decoration: none;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  &__social-img {
    &:hover {
      filter: invert(58%) sepia(63%) saturate(465%) hue-rotate(122deg)
        brightness(92%) contrast(93%);
    }
  }
}
